.formdiv{
    display: flex;
    justify-content: center;
    inset: 0;
    width: 100vh;
    height: 100vh;
    margin: auto;
    align-items: center;
    flex-direction: column;
}
fieldset{
    background-color: #eeeeee;
    border-radius: 10px;
}
legend{
    background-color: black;
    color: white;
    padding: 3px;
}
input{
    margin: 5px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(102, 74, 128);
}
.error{
    display: none;
    color: red;
    margin: 0 0 10px 10px;
}